.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.min-w-70 {
  min-width: 70%;
}

button {
  outline: none!important;
}

.vh-custom {
  height: calc(100vh - 56px);
}

.over-flow-x-hidden {
  overflow-x: hidden;
}